@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot');
    src: url('../font/fontello.eot#iefix') format('embedded-opentype'), url('../font/fontello.woff') format('woff'), url('../font/fontello.ttf') format('truetype'), url('../font/fontello.svg#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

@charset "utf-8";

/* CSS Document */


/*General*/

* {
    margin: 0;
    padding: 0;
    font-family: "Tahoma";
}


/*Header*/

.header {
    border-bottom: 2px solid #7d5d3b;
    height: 90px;
    background-color: #d6b958;
}

.logo {
    background: url("../images/logo.png") no-repeat;
    background-size: 90% auto;
    background-position: center;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-left: 10px;
}

    .logo::after {
        content: "Cóc Library";
        font-family: "Franklin Gothic";
        margin: 15px 55px;
        position: absolute;
        font-size: 1.25em;
        font-weight: bold;
        color: #7d5d3b;
    }

.login-right {
    display: inline-block;
    float: right;
    position: relative;
    height: 50px;
    padding-right: 2em;
}

    .login-right a {
        font-family: "Franklin Gothic";
        font-weight: bold;
        color: #7d5d3b;
        text-decoration: none;
        line-height: 50px;
        text-align: center;
        display: inline-block;
        float: right;
    }

        .login-right a:link {
            text-decoration: none;
        }

#icon {
    width: 50px;
    height: 50px;
    margin-left: 1em;
    transition: all .5s;
    border-radius: 25%;
}

    #icon:hover {
        -ms-transform: rotate(360deg); /* IE 9 */
        -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
        transform: rotate(360deg);
        border-radius: 50%;
    }

.menu-bar {
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
    clear: both;
}

    .menu-bar ul {
        display: block;
        position: relative;
        width: 100%;
        background: #1a1a1a;
        text-align: center;
        list-style: none;
        height: 40px;
        box-sizing: border-box;
    }

    .menu-bar li {
        display: inline-block;
        height: 40px;
    }

    .menu-bar a {
        display: inline-block;
        padding: .5em;
        margin: .25em 0 .25em 0;
        text-decoration: none;
        color: #999999;
    }

        .menu-bar a:hover {
            background-color: #d6b958;
            transition: all .8s;
            color: #333333;
            text-decoration: none;
        }

    .menu-bar li a:after {
        content: '|';
        position: relative;
        left: .5em;
        color: rgba(125, 93, 59, .4);
    }


/*Banner*/

.banner-wrapper {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.banner {
    width: 100%;
    height: 0;
    padding-top: 33%;
}

#background-1 {
    background: url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}


/*MAIN CONTENT*/

#main-content {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.main-panel {
    position: relative;
    box-sizing: border-box;
    overflow: auto;
    padding-top: 2em;
}

    .main-panel:nth-child(odd) {
        background: #f7f7f7;
        box-sizing: border-box;
        padding-left: .5em;
        height: 100%;
    }

    .main-panel:nth-child(even) {
        box-sizing: border-box;
        padding-left: .5em;
    }

    .main-panel .title {
        font-size: 1.5em;
        display: block;
        padding-bottom: 1em;
        color: #1a1a1a;
        margin: 0 20%;
    }

    .main-panel .book-list {
        box-sizing: border-box;
        margin: 0 20%;
    }

    .main-panel .book {
        height: 300px;
        width: 150px;
        display: inline-flex;
        flex-direction: column;
        position: relative;
        margin: 0 1.5em;
    }

    .main-panel .book-attr {
        width: 100%;
    }

    .main-panel .book-illu img {
        width: 100%;
        position: absolute;
        transition: all .3s;
    }

    .main-panel .book-illu {
        width: 90%;
        margin: 0 auto;
        position: relative;
        box-sizing: border-box;
        height: 60%;
        margin-bottom: 1em;
    }

        .main-panel .book-illu:hover img {
            width: 105%;
        }

    .main-panel .book-name {
        font-size: 1.05em;
        position: relative;
        margin-left: .5em;
        overflow: hidden;
        max-height: 3.5em;
    }

    .main-panel .book-main .small a {
        border: 0px;
        padding: 0px;
        margin: 0px;
        top: 0;
        display: inline;
    }

.book-main .small a:hover {
    background: none;
}

.book-info-small {
    min-height: 120px;
}

.main-panel .book-rate {
    color: #999999;
    font-size: .8em;
    margin-top: 15px;
    position: relative;
    margin-left: .5em;
    padding-bottom: 2em;
}

.main-panel #tag-list {
    box-sizing: border-box;
    margin: 0 20%;
    padding-bottom: 2em;
}

.tag-card {
    font-size: .7em;
    padding: .5em;
    border-radius: 20px;
    border: 2px solid #1a1a1a;
    color: #1a1a1a;
    margin: .25em;
    display: inline-block;
    min-width: 5em;
    text-decoration: none;
    text-align: center;
}

    .tag-card:hover {
        color: white;
        background-color: #1a1a1a;
        transition: all .5s;
        text-decoration: none;
    }


/*BOOK DETAIL*/
.left-wrapper {
    width: 50%;
    display: inline-block;
}

.center-wrapper {
    width: 80%;
    margin: 0 auto;
}

.book-info {
    box-sizing: border-box;
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
    float: left;
    margin-top: 1em;
}

    .book-info .book-illu, .book-main {
        box-sizing: border-box;
        display: inline-block;
        height: 100%;
    }

    .book-info .book-illu {
        width: 30%;
        max-width: 150px;
    }

    .book-info .book-main {
        width: 70%;
        padding-left: 1em;
    }

.book-main {
    float: right;
    position: relative;
    color: #1a1a1a;
    text-align: left;
}

    .book-main .book-attr {
        width: 100%;
        box-sizing: border-box;
        position: relative;
    }

.main-panel .book-main .book-name small {
    font-size: .7em;
    line-height: 20%;
    font-weight: normal;
    margin-top: 200px;
    top: 0;
}

.book-main .book-year {
    color: #999999;
    font-size: 1em;
}

.book-main .book-name, .book-main .book-rate {
    margin: 0;
}

.book-main .book-name {
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1em;
}

.book-main .book-rate {
    font-size: 1em;
}

#top-book {
    box-sizing: border-box;
    position: relative;
    width: 20%;
    display: inline-block;
    float: right;
    min-width: 250px;
    margin-top: 1em;
}

.book-name > a {
    color: #1a1a1a;
}

.book-summary {
    position: relative;
}

.added {
    border: 1px solid #999999;
    padding: .5em;
    top: 1.25em;
    color: #1a1a1a;
    background-color: #999999;
}

.not-added {
    border: 1px solid #1a1a1a;
    padding: .5em;
    top: 1.25em;
    color: #1a1a1a;
    transition: all .3s;
}

    .not-added:hover {
        background-color: #d6b958;
    }

#top-book li {
    float: right;
}

#top-book .book-name {
    font-size: 1em;
}

#top-book .book-info {
    margin-bottom: .5em;
    height: auto;
}

.book-bib {
    width: 100%;
    clear: left;
    overflow: auto;
    margin: 1em;
}

    .book-bib .title {
        position: relative;
        margin-left: 0;
        margin-top: 1em;
        font-size: 1.5em;
        font-weight: bold;
    }

    .book-bib .book-bib-com {
        width: 30%;
        display: inline-block;
        border-bottom: 1px solid #999999;
        padding: .75em;
        margin: 0 .25em;
        float: left;
    }

.book-bib-com span {
    display: block;
    margin: 0;
}

    .book-bib-com span:nth-child(odd) {
        color: #1a1a1a;
        font-size: 1.1em;
        font-weight: bold;
    }

    .book-bib-com span:nth-child(even) {
        color: #1a1a1a;
    }

.book-bib-com .span-list a {
    display: block;
}

.status-tag {
    border: 1px solid #1a1a1a;
    padding: .25em;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    color: black;
}

.book-bib-com .active {
    background-color: #7FFF00;
}

/* book tab */
#book-tab {
    width: 100%;
    min-height: 150px;
    clear: both;
}

    #book-tab p {
        margin-left: 2em;
        margin-top: 1em;
    }

    #book-tab ul.bar_tabs {
        overflow: visible;
        background: #F5F7FA;
        height: 25px;
        margin: 21px 0 14px;
        padding-left: 14px;
        position: relative;
        z-index: 1;
        width: 100%;
        border-bottom: 1px solid #E6E9ED
    }

        #book-tab ul.bar_tabs > li {
            border: 1px solid #E6E9ED;
            color: #333 !important;
            margin-top: -17px;
            margin-left: 8px;
            background: #fff;
            border-bottom: none;
            border-radius: 4px 4px 0 0
        }

            #book-tab ul.bar_tabs > li.active {
                border-right: 0;
                border-top: 0;
                margin-top: -15px;
            }

            #book-tab ul.bar_tabs > li a {
                padding: 10px 17px;
                background: #F5F7FA;
                margin: 0;
                border-top-right-radius: 0
            }

                #book-tab ul.bar_tabs > li a:hover {
                    border: 1px solid transparent
                }

            #book-tab ul.bar_tabs > li.active a {
                border-bottom: 5px solid #d6b958;
            }

        #book-tab ul.bar_tabs.right {
            padding-right: 14px
        }

            #book-tab ul.bar_tabs.right li {
                float: right
            }

    #book-tab .nav-tabs {
        border-bottom: 1px solid #ddd;
    }

        #book-tab .nav-tabs > li > a {
            margin-right: 2px;
            line-height: 1.42857143;
            border: 0;
            border-radius: 0px;
        }

.nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border-radius: 0px;
    border-bottom-color: transparent;
}
/* ABOUT US */
#member-panel {
    background: url("../images/library-banner.png");
    background-size: 40% auto;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.member-list {
    width: 70%;
    box-sizing: border-box;
    display: flex;
    margin-bottom: 1em;
}

    .member-list .member-avatar {
        width: 10vw;
        background: green;
        height: 10vw;
    }

    .member-list .member-description {
        width: auto;
        padding: 1em;
    }

        .member-list .member-description span:not(.role) {
            font-size: 1.5em;
            font-weight: bold;
        }

        .member-list .member-description .role {
            font-size: 1.1em;
            color: #1a1a1a;
        }

#Tuan {
    background: url("../images/Tuan.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#Bao {
    background: url("../images/Bao.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#Nguyen {
    background: url("../images/Nguyen.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/* PROFILE */
.profile-wrapper {
    width: 80%;
    padding: 2em;
    min-height: 700px;
    margin: 0 auto;
}
/*FOOTER*/
#footer-upper {
    background: #1a1a1a;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em;
    box-sizing: border-box;
}

    #footer-upper .group-list div {
        color: white;
        font-size: .95em;
        border-bottom: 1px solid rgba(255,255,255,.3);
        padding: 1em 0;
        margin-bottom: 1em;
    }

    #footer-upper .group-list {
        position: relative;
        width: 150px;
        display: inline-block;
        height: 100%;
        vertical-align: top;
        margin: 0 1em;
        text-align: left;
    }

.group-list img {
    width: 150px;
}

.upper-half:nth-child(odd) {
    width: 40%;
    position: relative;
    height: 100%;
    text-align: right;
}

.upper-half:nth-child(even) {
    width: 50%;
    position: relative;
    height: 100%;
    text-align: left;
}

.group-list ul {
    list-style-type: none;
    position: relative;
    font-size: .9em;
}

#footer-upper li {
    margin: .25em;
    color: #999999;
}

#footer {
    width: 100%;
    background: black;
    color: #999999;
    box-sizing: border-box;
    text-align: center;
}

.e-footer {
    display: inline-block;
    margin: 0 1vw;
    font-size: .75em;
    text-align: center;
    position: relative;
    top: -24px;
}

    .e-footer a {
        text-decoration: none;
        color: #999999;
    }

#mark-logo {
    background: url("../images/logo-mark.png") no-repeat;
    background-size: 100% auto;
    width: 60px;
    height: 60px;
    display: inline-block;
    position: relative;
    top: 5px;
}
