* {
    margin: 0;
    padding: 0;
}

.header {
    border-bottom: 1px solid black;
    height: 90px;
    background-color: #f9fcfd;
    position: relative;
}

.spectrum-bar {
    background: url("../images/spectrum.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 3px;
}

.logo {
    background: url("../images/logo.png") no-repeat;
    background-size: cover;
    width: 100px;
    height: 80px;
    left: 20%;
    display: inline-block;
    position: absolute;
}

.login-right {
    position: absolute;
    right: 20%;
    top: 40%;
    display: flex;
    align-items: center;
}

    .login-right a {
        font-family: Tahoma;
        padding-left: 10px;
        text-decoration: none;
        color: black;
        font-size: 13px;
    }

.login-logo {
    background: url("../images/login.png") no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.menu-bar {
    background-color: #16abbf;
    margin-top: 1%;
    margin-left: 18%;
    height: 37px;
    width: 64%;
    display: flex;
    align-items: center;
    position: relative;
}

.menu-icon {
    background: url("../images/menu-icon.png") no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    left: 20%;
    position: absolute;
    display: none;
    transform: translateX(-50%);
}

.search-icon {
    position: absolute;
    left: 80%;
    width: 20px;
    height: 20px;
    background: url("../images/search-icon.png") no-repeat;
    background-size: cover;
    display: none;
    transform: translateX(-50%);
}

.login-icon {
    position: absolute;
    left: 40%;
    width: 20px;
    height: 20px;
    background: url("../images/login-black.png") no-repeat;
    background-size: cover;
    display: none;
    transform: translateX(-50%);
}

.list-icon {
    position: absolute;
    left: 60%;
    width: 20px;
    height: 20px;
    background: url("../images/list-icon.png") no-repeat;
    background-size: cover;
    display: none;
    transform: translateX(-50%);
}

.menu-bar ul {
    list-style-type: none;
}

.menu-bar li {
    margin-left: 40px;
    display: inline;
}

    .menu-bar li:first-child {
        margin-left: 20px;
    }

.menu-bar a {
    color: white;
    font-family: Tahoma;
    font-size: 14px;
    text-decoration: none;
}

    .menu-bar a:hover {
        text-decoration: underline;
    }

.banner {
    border: 2px solid black;
    background: url("../images/banner.png") no-repeat;
    margin-top: 1%;
    margin-left: 18%;
    margin-bottom: 1%;
    width: 64%;
    height: 80px;
    background-size: contain;
}

.search-box-1 {
    position: relative;
    background-color: #063339;
    border-top-left-radius: 10px;
    margin-left: 18%;
    margin-bottom: 2%;
    width: 230px;
    height: 95px;
}

    .search-box-1 span {
        font-family: Tahoma;
        font-size: 13px;
        position: absolute;
        top: 2px;
        left: 10px;
        color: white;
        font-weight: 600;
    }

.search-box-2 {
    background-color: #c5eaee;
    position: absolute;
    width: 98.5%;
    height: 80%;
    right: 0px;
    bottom: 0px;
}

.go-btn {
    position: absolute;
    background: url("../images/go_btn.png") no-repeat;
    background-size: cover;
    top: 7px;
    right: 20px;
    width: 25px;
    height: 25px;
    border-radius: 20px;
}

.search-box-2 input[type="text"] {
    position: absolute;
    top: 10px;
    left: 5px;
}

.search-box-2 input[type="radio"]:nth-child(2) {
    margin-left: 5px;
}

.search-box-2 .radio {
    position: absolute;
    top: 35px;
    left: 5px;
    font-size: 12px;
    font-family: Tahoma;
}

.search-box-2 span {
    position: absolute;
    top: 55px;
    left: 10px;
    font-size: 11px;
    font-weight: 700;
}

.search-box-2 a {
    color: grey;
    text-decoration: none;
}

    .search-box-2 a:hover {
        color: grey;
        text-decoration: underline;
    }

.search-box-3 {
    position: relative;
    background-color: #063339;
    border-top-left-radius: 10px;
    margin-left: 18%;
    width: 230px;
    height: 75px;
}

    .search-box-3 span {
        font-family: Tahoma;
        font-size: 13px;
        position: absolute;
        top: 2px;
        left: 10px;
        color: white;
        font-weight: 600;
    }

.search-box-4 {
    background-color: #c5eaee;
    position: absolute;
    width: 98.5%;
    height: 70%;
    right: 0px;
    bottom: 0px;
}

    .search-box-4 .alphabetical {
        position: absolute;
        top: 10px;
        left: 4px;
        font-family: Tahoma;
        font-size: 13px;
        font-weight: bold;
    }

    .search-box-4 a {
        text-decoration: none;
        color: #20484c;
        padding-left: 2px;
    }

@media only screen and (max-width: 500px) {
    .login-right {
        display: none;
    }

    .logo {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 750px) {
    .menu-bar ul {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .search-icon {
        display: block;
    }

    .login-icon {
        display: block;
    }

    .list-icon {
        display: block;
    }

    .search-box-1 {
        display: none;
    }

    .search-box-3 {
        display: none;
    }
}
